html,
body {
    background-image: url('../images/Stage.jpg');
}

#question {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    top: 80px;
    right: 200px;
    border: 2px solid gray;
    width: 200px;
    background-color: lightgray;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
    border-radius: 18px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 350;
    text-align: center;
}

h2 {
    text-shadow: darkgray 8px -3px 2px;
}

ul {
    list-style: lower-latin;
    text-align: left;
}

start-btn {
    background-color: gray;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px
  }

.not-visible {
    visibility: hidden;
}